.contacts {
  color: $color-black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding-top: 120px;
  padding-bottom: 113px;
  width: 1160px;
  margin: 0 auto;
}

.contacts__title {
  width: 500px;
  margin: 75px 0 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-black;
}

.contacts__address {
  margin: 0 0 21px;
  padding-left: 28px;
  position: relative;
  display: block;

  &::before {
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
    content: url("./../img/svg/mark.svg");
  }
}

.contacts__telephone {
  margin: 0;
  padding-left: 28px;
  position: relative;

  &::before {
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
    content: url("./../img/svg/telephone.svg");
  }
}

.contacts__map iframe {
  margin-right: 100px;
  width: 560px;
  height: 306px;
}

@media (max-width: 1200px) {
  .contacts {
    width: 960px;
  }

  .contacts__map iframe {
    margin-right: 110px;
    width: 360px;
  }

  .contacts__info {
    max-width: 400px;
  }
}

@media (max-width: 1023px) {
  .contacts__map iframe {
    margin-right: 30px;
    width: 324px;
    height: 335px;
  }

  .contacts__info {
    max-width: 324px;
  }

  .contacts {
    width: 678px;
    padding-bottom: 73px;
  }

  .contacts__title {
    width: auto;
    margin-top: 45px;
    margin-bottom: 28px;
  }

  .contacts__address {
    margin-bottom: 21px;

    &::before {
      position: absolute;
      width: 18px;
      height: 22px;
      top: 5px;
      left: 0;
      content: url("./../img/svg/mark.svg");
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    position: relative;
    width: auto;
    padding-top: 58px;
    padding-bottom: 417px;
  }

  .contacts__map {
    position: absolute;
    top: 322px;
    width: 100%;
    margin: 0 auto;
  }

  .contacts__map iframe {
    width: 100%;
    margin-right: 0;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .contacts__title {
    margin-bottom: 27px;
    margin-top: 0;
  }

  .contacts__info {
    margin: 0 auto;
    max-width: 290px;
  }

  .contacts__telephone {
    &::before {
      position: absolute;
      width: 18px;
      height: 22px;
      top: 0;
      left: 0;
      content: url("./../img/svg/telephone.svg");
    }
  }

  .contacts__address {
    margin-bottom: 21px;
    padding-left: 28px;
    position: relative;
    display: block;

    &::before {
      position: absolute;
      width: 18px;
      height: 22px;
      top: 5px;
      left: 0;
      content: url("./../img/svg/mark.svg");
    }
  }
}
