.cruises {
  background-color: $color-white;
  padding: 85px 0 120px 0;
  color: $color-white;
  font-family: "Montserrat", sans-serif;
}

.cruises__div {
  max-height: 229px;
  overflow-y: auto;
}

.cruises__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $color-black;
  margin: 0 auto 49px auto;
  width: 302px;
}

.cruises__item {
  background-color: $color-black;
  padding: 29px 25px 0 25px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
  min-height: 386px;
  display: flex;
  flex-direction: column-reverse;
}

.cruises__list {
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: 260px 260px 260px 260px;
  margin: 0 auto;
  width: 1130px;
}

@media (min-resolution: 2dppx) {
  .cruises__bg--elain {
    background-image: url("./../img/cruises/minion-1@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--atlantis {
    background-image: url("./../img/cruises/atlantis@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--odyssey {
    background-image: url("./../img/cruises/odissey@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--olimpia {
    background-image: url("./../img/cruises/olimpia@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--avrora {
    background-image: url("./../img/cruises/avrora@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--leonor {
    background-image: url("./../img/cruises/leonor@2x.jpg");
    background-size: 100% 100%;
  }

  .cruises__bg--minion-1 {
    background-image: url("./../img/cruises/minion-1@2x.jpg");
    background-size: 100% 100%;
  }
}

.cruises__bg--astoria {
  background-image: url("./../img/cruises/astoria.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--elain {
  background-image: url("./../img/cruises/minion-1.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--atlantis {
  background-image: url("./../img/cruises/atlantis.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--odyssey {
  background-image: url("./../img/cruises/odissey.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--olimpia {
  background-image: url("./../img/cruises/olimpia.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--avrora {
  background-image: url("./../img/cruises/avrora.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--leonor {
  background-image: url("./../img/cruises/leonor.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__bg--minion-1 {
  background-image: url("./../img/cruises/minion-1.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cruises__mini-title--second {
  display: none;
  opacity: 0;
}

.cruises__mini-title--first {
  display: block;
  opacity: 1;
  margin-top: 308px;
  margin-bottom: 22px;
  position: absolute;
  bottom: 22px;
  z-index: 1;
}

.cruises__section {
  opacity: 0;
}

.cruises__button {
  background-color: $color-white;
  font-family: "Montserrat", sans-serif;
  margin-top: 26px;
  margin-bottom: 34px;
  color: $color-black;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;

  &:hover {
    opacity: 0.8;
  }
}

.cruises__button:focus ~ .cruises__section {
  opacity: 1;
}

.cruises__button:focus {
  opacity: 1;
  z-index: 10;
}

.cruises__item:hover div {
  background-image: none;
  z-index: 1;
  display: none;
}

.cruises__item:focus div {
  background-image: none;
  z-index: 1;
}

.cruises__item:hover .cruises__button {
  z-index: 10;
}

.cruises__item:focus .cruises__button {
  z-index: 10;
}

.cruises__button:focus ~ div {
  background-image: none;
  z-index: 1;
}

.cruises__button:hover ~ div {
  background-image: none;
  z-index: 1;
}

.cruises__item:hover, .cruises__item:focus {
  background-image: none;
  z-index: 1;
}

.cruises__item:focus .cruises__button {
  opacity: 1;
  z-index: 1;
}

.cruises__item:hover .cruises__button {
  opacity: 1;
  z-index: 1;
}

.cruises__item:focus {
  outline: 1px solid red;
}

.cruises__item:hover section, .cruises__item:focus section {
  opacity: 1;
  z-index: 1;
}

.cruises__item:hover .cruises__div {
  z-index: 1;
}

.cruises__item:hover .cruises__mini-title--first {
  display: none;
  opacity: 0;
  z-index: 0;
}

.cruises__item:focus .cruises__mini-title--first {
  display: none;
  opacity: 0;
  z-index: 0;
}

.cruises__button:focus ~ section .cruises__mini-title--second {
  opacity: 1;
  z-index: 1;
  display: block;
}

.cruises__button:focus ~ .cruises__mini-title--first {
  opacity: 0;
  z-index: 0;
  display: none;
}

.cruises__item:hover .cruises__mini-title--second, .cruises__item:focus .cruises__mini-title--second {
  display: block;
  opacity: 1;
}

.cruises__button:focus-visible {
  outline: 2px solid red;
}

.cruises__mini-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}

.cruises__mini-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin: 13px 0 0 0;
}

.cruises__mini-info {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@media (max-width: 1160px) and (min-width: 1024px) {
  .cruises__list {
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 309px 309px;
    margin: 0 auto;
    width: 648px;
  }

  .cruises__button {
    margin-top: 16px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .cruises__mini-title--first {
    margin-bottom: 5px;
    margin-top: 304px;
  }

  .cruises__item {
    padding: 28px 35px 0;
  }

  .cruises__button {
    padding-top: 9px;
    margin-top: 24px;
  }

  .cruises__mini-text {
    margin-top: 14px;
  }

  .cruises {
    padding-bottom: 100px;
  }
}

@media (max-width: 1023px) {
  .cruises__list {
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 309px 309px;
    margin: 0 auto;
    width: 648px;
  }

  .cruises__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    width: 281px;
    margin-bottom: 49px;
    font-style: normal;
  }

  .cruises {
    padding-top: 90px;
  }
}

@media (max-width: 767px) {
  .cruises__mini-title--first {
    margin-top: 314px;
    margin-bottom: -6px;
  }

  .cruises__mini-text {
    margin-top: 13px;
  }

  .cruises__list {
    padding: 0;
    display: grid;
    grid-template-columns: 270px;
    gap: 30px;
    margin: 0 auto;
    width: 270px;
  }

  .cruises__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    width: 259px;
    margin-bottom: 30px;
  }

  .cruises__item {
    min-height: 386px;
    padding-top: 11px;
  }

  .cruises {
    padding-top: 57px;
    padding-bottom: 65px;
  }

  .cruises__button {
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 27px;
  }
}

@media (max-width: 517px) {
  .cruises__item {
    min-height: 386px;
    width: 270px;
    padding-top: 29px;
  }

  .cruises__list {
    padding: 0;
    display: grid;
    grid-template-columns: 270px;
    gap: 30px;
    margin: 0 auto;
    width: 270px;
  }
}
