.main-page {
  font-family: "Montserrat", sans-serif;
  color: $color-white;
  background-color: #507dae;
  background-image: url("./../img/images/background.png");
  background-position: center center;
  background-size: cover;
  min-height: 650px;
  // margin-top: -73px;
  padding-top: 270px;
  padding-left: 198px;
  padding-bottom: 247px;
}

.main-page__title {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1023px) {
  .main-page {
    background-image: url("./../img/images/background.png");
    padding-left: 45px;
    min-height: 638px;
    padding-top: 268px;
    padding-bottom: 275px;
  }

  .main-page__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 12px;
  }

  .main-page__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .main-page {
    background-position: center center;
    background-image: url("./../img/images/background.png");
    background-size: 767px 500px;
    padding-left: 15px;
    min-height: 500px;
    padding-bottom: 178px;
    padding-top: 175px;
  }

  .main-page__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 11px;
  }

  .main-page__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    width: auto;
  }
}

@media (max-width: 330px) {
  .main-page__text {
    width: 200px;
  }
}
