.header {
  display: flex;
  z-index: 10;
}

.header__list {
  display: flex;
  color: $color-white;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.header__item a {
  color: $color-white;
}

.header__container {
  display: flex;
  min-height: 38px;
  margin: 35px auto 0 auto;
  width: 1160px;
  justify-content: space-between;
}

.header__item {
  &:not(:last-of-type) {
    margin-right: 33px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header__menu {
  display: none;
}

.header__image {
  width: 70px;
  height: 38px;
}

@media (min-width: 1024px) {
  .header__navigation {
    display: flex;
  }

  .header__list {
    align-items: center;
  }
}

@media (min-width: 1024px) and (max-width: 1260px) {
  .header__container {
    margin: 35px auto 0 auto;
    width: 960px;
  }
}

@media (max-width: 1023px) {
  .header__container {
    width: 678px;
    margin: 30px auto 0 auto;
  }

  .header__list {
    font-size: 14px;
    line-height: 17px;
  }

  .header__image {
    width: 38px;
    height: 20px;
  }

  .header__item:not(:last-of-type) {
    margin-right: 26px;
  }

  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__image {
    width: 42px;
    height: 22px;
  }

  .header__container {
    width: 100%;
    margin: 20px 15px 0 15px;
  }

  .header__list {
    display: none;
  }

  .header__menu {
    display: block;
    position: relative;
    padding: 0;
    border: none;
    cursor: pointer;

    & span {
      &::after {
        left: -24px;
        top: 4px;
        position: absolute;
        content: url("../../img/sprite/menu.svg");
        width: 24px;
        height: 12px;
      }
    }
  }

  .header__navigation--mobile {
    background-color: $color-white;
    height: 100vh;
    position: fixed;
    margin-left: 35px;
    width: auto;
    z-index: 20;
    right: 0;
    top: 0;
    padding: 20px 15px 0;
  }

  .header__item--mobile a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-black;
  }

  .header__list--mobile img {
    margin-bottom: 43px;
  }

  .header__item--mobile {
    margin-bottom: 24px;
  }

  .header__list--mobile {
    padding: 0;
    margin: 0;
  }

  .header__list--images {
    display: flex;
    justify-content: space-between;
  }

  .header__menu--close-button {
    border: none;
    background-color: transparent;
    height: 13px;
    margin-top: 3px;
    cursor: pointer;
  }
}
